# Gradle
.gradle/
build/
out/
bin/
run/
remappedSrc/
remap*

# IDEA
.idea/
*.iml
*.ipr
*.iws
/out/

# VSCode
.vscode/
.settings/
.classpath
.project

# Minecraft
run/
logs/
crash-reports/
screenshots/
config/
mods/
saves/
local/

# OS
.DS_Store
Thumbs.db

# Publishing
*.key
secrets.properties

# Private
.private/
